<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.rowf.sigilia"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
	<uses-permission android:name="android.permission.VIBRATE" />
    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name="TitleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
                
        <activity android:name="EditorActivity" 
            android:configChanges="orientation" 
            android:label="@string/editor_name">
        </activity>

        
        <activity android:name="ScenarioSelectActivity"/>
        <activity android:name="ScenarioActivity"  android:configChanges="orientation"/>
        <activity android:name="HintActivity"/>
        <activity android:name="PoserActivity"/>

    </application>

</manifest>
